body{
    padding: 0 40px 0 40px;
}

h1{
    text-align: center;
}

main{
    width: 960px;
    margin: 0 auto;
}

aside{
    float: left;
    box-sizing: border-box;
    width: 260px;
}

section{
    float: right;
    box-sizing: border-box;
    width: 700px;
}

.content-book{
    list-style-type: none;
    padding: 0;
}
.content-book li{
    width: 230px;
    float: left;
    margin: 1px;
}